
.alpq-accordion{
height: 100%;
}

.alpq-accordion-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend .alpq-padding-top-bottom-l;
  height: 100%; 
  border-top: $borderwidth solid $background;
  border-bottom: $borderwidth solid $background;
  transition: $transition;
  cursor: pointer;

  & > * {
    @extend .alpq-padding-left-right-m;
  }

  &:hover{
    background-color: $highlight;
  }
}

.alpq-accordion-content{
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  transition: $transition;
}

.alpq-accordion--open{
  max-height: 2000px;
  opacity: 1;
  transition: $transition;
  padding: $space-m;
}