.alpq-header{
    @extend .alpq-bgColor-primary;
    width: 100%;
    height: $space-xxxxl;
    top: 0;
    z-index: 10;
}

.alpq-header-logo{
    height: 32px;
}

.alpq-header-icon{
    height: 40px;
    width: 40px;
    padding: $space-xs;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}