.alpq-status-container {
display: flex;
justify-content: center;
align-items: center;
}

.alpq-status-bar {
    width: 80px;
    height: 2px;
    background-color: red;
}

.alpq-status-circle { 
    border-radius: 32px; 
    width: 32px;
    height: 32px;
    background-color: red;
}