/* Theme Provider */

/*Colors*/

$primary: #052f43;
$secondary: #ff9400;
$contrast: #ffffff;
$background: #f2f4f5;
$inactive: #eeeeee;
$H4: #666058;
$highlight: #b2d8e8;
$link: #007db3;
$link-hover: #f3b229;
$Error: #de592e;
$success: #99cc51;
$helper: #768d98;
/*Font Colors*/

$font-primary: #052f43;
$font-secondary: #ff9400;
$font-contrast: #ffffff;
$font-background: #f2f4f5;
$font-inactive: #eeeeee;
$font-H4: #666058;
$font-highlight: #b2d8e8;
$font-link: #007db3;
$font-link-hover: #f3b229;
$font-Error: #de592e;
$font-success: #99cc51;
$font-helper: #768d98;
$font-size-xs: 8px;
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-size-xxl: 64px;
/* Spaces & Sizing 8pt system */

$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;
$space-xxl: 40px;
$space-xxxl: 48px;
$space-xxxxl: 56px;
$space-xxxxxl: 64px;
$shadow-s: 0 0 16px rgba(0, 0, 0, 0.1);
$shadow-l: 0 $space-m $space-l -.5em rgba(0, 0, 0, 0.35);
$borderadius: 3px;
$borderwidth: 1px;
$transition: all 0.5s;
/* Fonts */

@font-face {
    font-family: "primaryBold";
    src: local(primaryBold), //   url("./fonts/vistaSansBold.woff2") format("woff2"),
    url("./fonts/vistaSansBold.woff") format("woff");
    //   url("./fonts/vistaSansBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "primaryBook";
    src: local(primaryBook), //   url("./fonts/vistaSansBook.woff2") format("woff2"),
    url("./fonts/vistaSansBook.woff") format("woff");
    //   url("./fonts/vistaSansBook.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "secondaryLight";
    src: local(secondaryLight), //   url("./fonts/vistaSlabLigth.ttf") format("truetype"), 
    url("./fonts/vistaSlabLigth.woff2") format("woff2"); // url("./fonts/vistaSlabLigth.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "secondaryBold";
    src: local(secondaryBold), //   url("./fonts/vistaSlabBook.woff2") format("woff2"),
    url("./fonts/vistaSlabBook.woff") format("woff");
    //   url("./fonts/vistaSlabBook.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}