/* Theme Provider */

/*Colors*/
$contrast: #ffffff;
$highlight: #b2d8e8;
$Error: #de592e;
$background: #f2f4f5;
$H4: #666058;
$success: #99cc51;
$secondary: #ff9400;
$link-hover: #f3b229;
$helper: #768d98;
$primary: #052f43;
$link: #007db3;
$inactive: #eeeeee;

/* Spaces & Sizing 8pt system */
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;
$space-xxl: 40px;
$space-xxxl: 48px;
$space-xxxxl: 56px;
$space-xxxxxl: 64px;

$shadow: 0 0 16px rgba(0, 0, 0, 0.1);
$borderadius: 0;
$borderwidth: 1px;